.notification-container {
    font-size: 14px;
    position: fixed;
    z-index: 999;
   

    .toast-item{
        display: flex;
        align-items: center;
        column-gap: 10px;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .notification-title{
        font-weight: bold;
        text-transform: capitalize;
        font-size: 16px;
    }
    .notification-close{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .success{
        background-color: #32CD32;
        color: #fff;
    }
    .danger{
        background-color: #FF0000;
        color: #fff;

    }
    .info{
        background-color: #0096FF;
        color: #fff;

    }
    .warning{
        background-color: #FFFF00;
        color: #fff;
    }
    
}
.none{
    display: none;
}
.block{
    display: block;
}

.top-right {
    top: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.top-left {
    top: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}