.spin {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 99999;

	.ant-spin-spinning {
		position: absolute !important;
		top: 50% !important;
		transform: translateY(-50%);
	}
}
